<div class="main">
<div class="ab1">
    <h1>About Me</h1>
    <img src="/profile.png" class="profile" alt="Profile Picture">
    <p class="text">
      <b class="b">Hello!</b> My name is <b class="b">Sufail Ahammed</b> and I am 25 years old. I recently graduated with a Master of Computer Applications <b class="b">(MCA)</b> degree. With a strong background in computer applications and a passion for technology, I have developed a diverse set of skills in software development, web development, and data analysis.
    </p>
    <p class="text">
      Throughout my academic journey, I have worked on various projects that have honed my problem-solving abilities and equipped me with the knowledge to tackle complex challenges. I am particularly interested in exploring new technologies and applying my skills to create innovative solutions.
    </p>
    <p class="text">
      I am a dedicated and proactive individual who enjoys collaborating with others and continuously learning to stay updated with the latest trends in the tech industry. I am excited to embark on my professional journey and contribute to impactful projects.
    </p>
    <p class="text">
      Feel free to browse through my portfolio to see some of the work I have done. I look forward to connecting with like-minded professionals and exploring opportunities where I can make a positive impact.
    </p>
  </div>
</div> 