<div class="Projects">
    <div id="projects" class="section">
      <div class="projects-section">
          <h1>Projects</h1>
          <div class="project-bar">
              <img src="/smart.jpg" alt="Project 1" class="img">
              <div class="project-details">
                  <h2><b class="b">Smart Licence</b> </h2>
                  <p><li>Smart License improves vehicle safety with sensors and RFID authentication.</li>
                    <li>It stops unauthorized access and prevents engine startup if alcohol levels are high.</li>
                    <li>Manual engine control works seamlessly with RFID,It monitors speed .</li>
                    <li>The user-friendly app provides alerts and notifications for vehicle status and safety</li>
          
                    <b class="b"><i>Software Requirements</i></b> 
                    <li>python(flask)</li>
                    <li>Dart(flutter)</li>
                    <li>Sqlyog</li>
                    <b class="b"><i>Hardware Requirements</i></b> 
                    <li>Arduino Uno</li>
                  </p>
                 
                    
                    
              </div>
          </div>
          <div class="project-bar">
              <img src="/prelern.png" alt="Project 2" class="img">
              <div class="project-details">
                   <h2><b class="b">PRE LEARN</b> </h2>
                  <p>Pre-Learn" transforms preschool education, addressing limitations, enhancing collaboration, andenriching the
                    learning environment with real-time updates and seamless communication.Ongoing innovations demonstrate a
                    commitment to efficiency, fundamentally reshaping the preschool experience
                    </p>
              </div>
          </div>
          <div class="project-bar">
              <img src="/face.png" alt="Project 3" class="img">
              <div class="project-details">
                <h2><b class="b">Attendence system using face detection</b> </h2>
                  <p>Hostel attence system using face detection</p>
                    <b class="b"><i>Software Requirements</i></b> 
<li>Python(Django)</li>
<li>SQLite</li>
<li>Open Cv </li>
              </div>
          </div>
      </div>
  </div>
  </div>
