<div class="Skills">
    <div id="skills" class="section">
       <div class="skills-section">
           <h1>Skills</h1>
           <div class="skill-bar">
               <div class="skill-info">
                   <span>Angular</span>
                   <span>94%</span>
               </div>
               <div class="skill-progress">
                   <div class="progress" style="width: 94%;"></div>
               </div>
           </div>
           <div class="skill-bar">
               <div class="skill-info">
                   <span>HTML</span>
                   <span>94%</span>
               </div>
               <div class="skill-progress">
                   <div class="progress" style="width: 94%;"></div>
               </div>
           </div>
           <div class="skill-bar">
               <div class="skill-info">
                   <span>CSS</span>
                   <span>85%</span>
               </div>
               <div class="skill-progress">
                   <div class="progress" style="width: 85%;"></div>
               </div>
           </div>
           <div class="skill-bar">
               <div class="skill-info">
                   <span>JavaScript</span>
                   <span>80%</span>
               </div>
               <div class="skill-progress">
                   <div class="progress" style="width: 80%;"></div>
               </div>
           </div>
           <div class="skill-bar">
               <div class="skill-info">
                   <span>Python</span>
                   <span>75%</span>
               </div>
               <div class="skill-progress">
                   <div class="progress" style="width: 75%;"></div>
               </div>
           </div>
           <div class="skill-bar">
               <div class="skill-info">
                   <span>Java</span>
                   <span>70%</span>
               </div>
               <div class="skill-progress">
                   <div class="progress" style="width: 70%;"></div>
               </div>
           </div>
       </div>
   </div>
   </div>
